.div-in-root{
  width: 100%;
  background-color: red;
}
#header{
  width: 97.75%;
  height: 100px;
  background-color: gainsboro;
  padding-left: 2rem;
  margin-right: 2rem;
}
#layout{
  width: 90%;
  height: 30rem;
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  border: 3px solid red;
  margin-top: 1%;
}
#footer{
  height: 4rem;
  background-color: gainsboro;
}
